<body>
<!--header start here-->
<div class="banner">
  <div class="header">
	<div class="container">
		 <div class="header-main">
				<div class="logo">
					<h1><a href="index.html">MeLAB</a></h1>
				</div>
				<div class="header-right">
			<!---- script-nav ---->
				<div class="top-nav-right">
					<div id="loginContainer"><%= link_to 'Login', new_user_session_path, :class => "btn btn-success btn-lg"%>
					</div>
		         	<div class="clearfix"> </div>
				</div>
		 </div>
		 <div class="clearfix"> </div>
	  </div>
		 <div class="banner-bottom">
		 	<h4>MeLAB - The all new simple accounting and social business network app in town!</h4>
		 	<h3>Manage, Grow and Connect.</h3>
		 </div>
	 </div>
 </div>
</div>
<div class="container">
    <div class="app-info">
		<div class="app-info-main">
			<div class="app-row1">
				<div class="col-md-4 app-info-grid app-gd1">
					<div class="app-in-grd">
						<span class="glyphicon glyphicon-phone" aria-hidden="true"> </span>
						<h2>Mobile Ready </h2>
						<p>Support all Operating System include IOS, Android, Mac and Window. </p>
				    </div>
				</div>
				<div class="col-md-4 app-info-grid app-gd2">
					<div class="app-in-grd">
						<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"> </span>
						<h2>Cloud Storage</h2>
						<p>No more worry about your sensitive accounting data you store with us. Our database is constantly backup and it protected from forgery and hacking.</p>
					</div>
				</div>
				<div class="col-md-4 app-info-grid app-gd3">
					<div class="app-in-grd">
						<span class="glyphicon glyphicon-apple" aria-hidden="true"> </span>
						<h2>Free to Use*</h2>
						<p> As long as your usage is genuine and comply with our terms and conditions.</p>
					</div>
				</div>
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--//app info-->
<!--services start here-->
<div class="services" id="services">
	<div class="container">
		<div class="services-main">
		  <div class="services-top">
		  	<h3>Our Goal</h3>
		  	 <h4>Imagine every 20 minutes, a Whatapps messages or phone call come in asking about your business. And each and every customers are just the old neighbourhood people that you seen before or even know their family! Well, this is our goal, to bring busniess back to the local communities!</h4>
		  </div>
		  <div class="service-bottom">
			<div class="col-md-4 serv-grids">
				<div class="ser-border">
					<span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>
					<h4>Support Email</h4>
					<p>If you encounter any problem while using our app or have any suggestion, please do not hesitate to email us at admin@melab.biz</p>
			    </div>
			</div>
			<div class="col-md-4 serv-grids">
				<div class="ser-border">
					<span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
					<h4>Youtube Tutorial</h4>
					<p>Click here www.youtube.com /melab/tutorial to learn more on how to use our app.We have 3 different language for that!</p>
			    </div>
			</div>
			<div class="col-md-4 serv-grids">
				<div class="ser-border">
					<span class="glyphicon glyphicon-hourglass" aria-hidden="true"> </span>
					<h4>Constant Update</h4>
					<p>As we are still in beta version, we will always updating our app. It would help us of you could feedback to us any error. Thanks in advance!</p>
			   </div>
			</div>
		 <div class="clearfix"> </div>
		 </div>
		</div>
	</div>
</div>
<!--app end here-->
<!-- changer start here-->
<div class="changer">
	<div class="container">
		  <div class="changer-top">
					<h3>Future Services</h3>
		  </div>
			  <div class="changer-main">
					<span class="devide-line"> </span>
					<div class="changer-left">
										<img src="assets/12.jpg" alt="" class="img-responsive">
					</div>
					<div class="changer-right">
						<h4>Wallet and Payment (expected late 2020)</h4>
					</div>
					<div class="changer-left-snd">
						 <h4>Expansion into ASEAN. (expected mid 2019) </h4>
					</div>
					<div class="changer-right-snd">
						<img src="assets/13.jpg" alt="" class="img-responsive">
					</div>
					<div class="changer-left-trd">
						<img src="assets/14.jpg" alt="" class="img-responsive">
					</div>
					<div class="changer-right-trd">
						<h4>Full feature release (expected late of 2018)</h4>
					</div>
					<div class="changer-left-fvr">
						<h4>MeLAB Launch! (expected end of 2017)</h4>		
					</div>
					<div class="changer-right-fvr">
						<img src="assets/15.jpg" alt="" class="img-responsive">
					</div>
					<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--changer end here-->
<!--features start here-->
<div class="features" id="features">
	<div class="container">
		<div class="features-main">
			<div class="fea-top">
			  <h3>Amazing Features</h3>
			</div>
			<div class="feature-botttom">
					<div class="feature-bott1">
						<div class="col-md-6 fea-grid">
							<div class="col-md-5 fea-img">
								<img src="assets/f1.jpg" alt="" class="img-responsive">
							</div>
							<div class="col-md-7 fea-text">
								<h4>Simple Accounting App</h4>
								<p>Build by business owner for micro enterprise. Simple and easy to use and the best part is, comply with best accounting practise and can be use for taxation and loan submision.</p><br />
							 </div>
						  <div class="clearfix"> </div>
						</div>
						<div class="col-md-6 fea-grid">
							<div class="col-md-5 fea-img">
								<img src="assets/f2.jpg" alt="" class="img-responsive">
							</div>
							<div class="col-md-7 fea-text">
								<h4>Optional Services</h4>
								<p>Our partner a certified tax accountant firm, can help and provide services for GST and tax submission to any merchant for a small fee.</p><br />
							</div>
						</div>
					   <div class="clearfix"> </div>
				   </div>
				   <div class="feature-bott1">
						<div class="col-md-6 feature-grid">
							<div class="col-md-5 fea-img">
								<img src="assets/f3.png" alt="" class="img-responsive">
							</div>
							<div class="col-md-7 fea-text">
								<h4>Go Online and Mobile too!!!</h4>
								<p>Join us as our platform is free, make your business remain relevant and to be able to profit in to digital economy! </p><br />
							</div>
						  <div class="clearfix"> </div>
						</div>
						<div class="col-md-6 feature-grid">
							<div class="col-md-5 fea-img">
								<img src="assets/f4.jpg" alt="" class="img-responsive">
							</div>
							<div class="col-md-7 fea-text">
								<h4>Complete Payment Gateway</h4>
								<p>We offer you ready payment system that can accept VISA & Master and if you are Malaysian merchant, you can use our services to accept all bank FPX transaction. Making your business grow faster!</p><br />
							</div>
						</div>
					   <div class="clearfix"> </div>
				   </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

