@import "bootstrap-sprockets";
@import "bootstrap";
@import "creative";
@import "lists";

.navbar {
    margin-bottom: 0;
    margin-top: 0;
}

.top-nav-right {
  float: right;
  width: 15%;
  padding-top: 0.3em;
}
