<div class="jumbotron">
      <div class="container">
        <h1>We know your pain!</h1>
        <p>That is why we created this app specially for you. Currently we only support Malaysia personal taxation but don't worry, we will add-in other countries soon. Well, best thing now is free!</p>
        <p><a class="btn btn-primary btn-lg" href="http://www.hasil.gov.my/bt_goindex.php?bt_kump=5&bt_skum=1&bt_posi=1&bt_unit=1&bt_sequ=1" target="_blank" role="button">Learn more LHDN &raquo;</a></p>
      </div>
</div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Receipts & Documents</h2>
          <p>Keep your income tax receipts and document online for 7 years without worry it will get lost, misplace or damage. </p>
          <p><%= link_to "Start Now", new_income_tax_path %></p>
        </div>
        <div class="col-md-4">
          <h2>List all receipts and documents</h2>
          <p>Press below to list all receipts and documents</p>
          <p><%= link_to "View All", income_taxes_path %></p>
       </div>
    </div>