<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6">
      <h2>Opening Account:</h2><h4>*must fill up either cash or bank before proceed</h4>
      <a href='/opening_cash' class="btn btn-primary btn-lg btn-block">Cash</a>
      <a href='/opening_bank' class="btn btn-default btn-lg btn-block">Bank</a>
      <a href='/asset_purchase_cash' class="btn btn-default btn-lg btn-block">Asset Purchase using Cash</a>
      <a href='/asset_purchase_bank' class="btn btn-default btn-lg btn-block">Asset Purchase using Bank</a>
      <a href='/asset_purchase_loan' class="btn btn-default btn-lg btn-block">Asset Purchase using Loan</a>
    </div>

    <div class="col-sm-6 col-lg-6 col-md-6">
        <h2>Sales Collection:</h2><h4>*Key in Daily sales or when received payment</h4>
        <a href='/cash_collection' class="btn btn-primary btn-lg btn-block">Cash</a>
        <a href='/card_collection' class="btn btn-default btn-lg btn-block">Credit & Debit Card Collection</a>
        <a href='/fpx_collection' class="btn btn-default btn-lg btn-block">FPX</a>
        <a href='/bank_transfer' class="btn btn-default btn-lg btn-block">Direct Bank Transfer</a>
    </div>
  </div>
<br />

<div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6">
      <h2>Stock Purchases:</h2>
      <a href='/cash_purchase' class="btn btn-primary btn-lg btn-block">Cash</a>
      <a href='/credit_purchase' class="btn btn-default btn-lg btn-block">Credit</a>
    </div>

    <div class="col-sm-6 col-lg-6 col-md-6">
          <h2>Creditor Payment:</h2>
          <a href='/payment_cash' class="btn btn-primary btn-lg btn-block">Cash</a>
          <a href='/payment_bank' class="btn btn-default btn-lg btn-block">Bank</a>
    </div>
</div>
<br />

  <div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6">
            <h2>Recurring Payment:</h2>
            <p>*include all bills, salaries, wages and director fee</p>
            <a href='/recurring_payment_cash' class="btn btn-primary btn-lg btn-block">Cash</a>
            <a href='/recurring_payment_bank' class="btn btn-default btn-lg btn-block">Bank</a>
    </div>

    <div class="col-sm-6 col-lg-6 col-md-6">
              <h2>Accounting Report:</h2>
              <p>*please key in inventory on hand to get the accurate report</p>
              <a href='/closing' class="btn btn-primary btn-lg btn-block">Inventory on hand</a>
              <a href='/generate' class="btn btn-default btn-lg btn-block">Full Accounting Report</a>
              <a href='/purchase_cos' class="btn btn-default btn-lg btn-block">Cost of Sales & Purchase</a>
              <a href='/trade_creditor' class="btn btn-default btn-lg btn-block">Trade Creditor</a>
              <a href='/cash_ca' class="btn btn-default btn-lg btn-block">Cash & Bank Current Asset</a>
    </div>
  </div>
</div>
